.button {
  display: inline-block;
  width: 20.5rem;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  margin-block-end: 1rem;
  margin-inline: 1rem;
  background: none;
  color: currentColor;
  border-radius: 0.5rem;
  font: var(--Button);
  text-align: center;

  cursor: pointer;
  outline: none;
}
.button.is-primary {
  border: 1px solid var(--primary);
  background: var(--primary);
  color: var(--white);
}

.button.is-primary a {
  text-decoration: none;
  color: var(--white);
}
.button.is-secondary {
  border: 1px solid var(--primary);
  background: none;
  color: var(--primary);
}

.button.is-third {
  border: 1px solid var(--white);
  color: var(--white);
  background: none;
}
