.card-service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-block: 0.5rem;
  padding-inline: 1rem;

  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.04);
}
.card-information {
  display: flex;
}
.card-description {
  display: flex;
  align-items: center;
}
.description {
  display: flex;
  flex-direction: column;
  margin-inline-start: 0.5rem;
}
.description p {
  font: var(--Body2-Bold);
  margin: 0;
}
.description span {
  font: var(--Caption);
  color: var(--grey);
}
.card-status {
  font: var(--Caption);
  color: var(--red);
}
.card-status.is-positive {
  font: var(--Caption);
  color: var(--green);
}
.card-image {
  margin: 0;
  /*  */
  inline-size: 3rem;
  block-size: 3rem;
  border-radius: 0.5rem;
}
.card-form {
  font: var(--Body2-Regular);
  padding-inline: 1rem;
}
.card-form p {
  margin: 0.25rem;
}
.card-form input {
  width: 19.5rem;
  padding: 0.5rem;
  font: var(--Body2-Regular);
  color: var(--black);
  border: 1px solid var(--grey2);
  border-radius: 0.25rem;
}
