.header-section {
  padding-inline-start: 1rem;
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  font: var(--Body2-Regular);
  color: var(--grey);
}

.header-section.is-amount::after {
  content: ":";
}
