:root {
  --black: #2b2b2b;
  --primary: #031a6e;
  --grey: #8f8f8f;
  --grey2: #707070;
  --background: #ececec;
  --white: #ffffff;
  --red: #af0507;
  --green: #13650c;
  --Hadline3: 700 1.75rem/2rem Inter;
  --Body1-Bold: 700 1rem/1.5rem Inter;
  --Body1-Regular: 400 1rem/1.5rem Inter;
  --Body2-Bold: 700 0.875rem/1.5rem Inter;
  --Body2-Regular: 400 0.875rem/1.5rem Inter;
  --Button: 600 1rem/1.5rem Inter;
  --Caption: 400 0.75rem/1.375rem Inter;
}

body {
  margin: 0;
  padding: 0;
  font: var(--Body1-regular);
  box-shadow: 0 0px -1px 0px rgba(0, 0, 0, 0.04);
}
