.head {
  background: var(--primary);
  min-block-size: 10.875rem;
}

.available-money {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  padding: 2.5rem 1rem 1rem;
}
.money {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.money p {
  color: var(--white);
  font: var(--Body2-Regular);
  margin: 0;
}
.money span {
  color: var(--white);
  font: var(--Hadline3);
}
.money.is-sent span {
  color: var(--black);
  text-align: center;
  padding: 1rem;
}
.available-money img {
  inline-size: 3rem;
  block-size: 3rem;
  border-radius: 50%;
}

.service-title {
  background: var(--primary);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-block-start: 1.3rem;
  padding-block-end: 1.3rem;
  padding-inline-start: 1rem;
}

.service-title h1 {
  font: var(--Button);
  color: var(--white);
  margin: 0;
}

.service-title i {
  position: relative;
  bottom: -2px;
}
